<div class="title">
  <i class="fa-solid fa-arrow-left"></i>
  <h1 class="titleH1">Watch list</h1>
</div>

<div class="movie-poster">
  <div class="poster-image">
    <img src="../../../../assets/Spider.png" alt="Movie 1 " />
  </div>
  <div class="poster-info">
    <h2 class="spider">Spiderman</h2>
    <h6 class="star">
      <i class="fa-regular fa-star"></i><span class="rating">9.5</span>
    </h6>
    <p>
      <i class="fa-solid fa-ticket icons1"></i><span class="text">Action</span>
    </p>
    <p><i class="fas fa-calendar icons2"></i><span class="text2">2019</span></p>
    <p>
      <i class="fas fa-clock icons"></i><span class="text3">139 minutes</span>
    </p>
  </div>
</div>

<div class="movie-poster">
  <div class="poster-image">
    <img src="../../../../assets/spiderNoWay.png" alt="Movie 2 " />
  </div>
  <div class="poster-info">
    <h2 class="NowayHomeH2">Spider-Man: No Way H..</h2>
    <h6 class="star">
      <i class="fa-regular fa-star"></i><span class="rating">8.5</span>
    </h6>
    <p>
      <i class="fa-solid fa-ticket icons1"></i> <span class="text">Action</span>
    </p>
    <p>
      <i class="fas fa-calendar icons2"></i> <span class="text2">2021</span>
    </p>
    <p>
      <i class="fas fa-clock icons"></i> <span class="text3">139 minutes</span>
    </p>
  </div>
</div>
